# code coverage
.cover

# git repo
.git

# IDE customization
.idea
.vscode

# binaries
.bin

# env customization
.env

# goreleaser binaries
dist

# vendor
vendor

# temporary
**/.DS_Store
**/debug
**/debug.test
